<section class="lui-section lui-gradient-bottom" id="services-section">

  <!-- Heading -->
  <div class="lui-heading">
    <div class="container">

      <div class="m-titles align-center">
        <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> What I Do </span>
        </h2>
        <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span> my <b>Services</b> </span>
        </div>
      </div>

    </div>
  </div>

  <!-- Services -->
  <div class="v-line v-line-right">
    <div class="container">

      <div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Web Development </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Web Design &amp; Logo </span>
              </h5>
              <div class="lui-text">
                <div> Web designers craft the overall vision &amp; plan for a website layout. Professional logo development: Business, Company, or Personal. </div>
              </div>
              <a href="#pricing-section" class="lnk"> See Pricing </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Apps Development </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> iOS &amp; Android </span>
              </h5>
              <div class="lui-text">
                <div>
                  <p>Design Software applications to run on mobile devices. Modern and mobile-ready application that will help you reach all of your marketing.</p>
                </div>
              </div>
              <a href="#pricing-section" class="lnk"> See Pricing </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Game Development </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Unity &amp; Unreal Engine </span>
              </h5>
              <div class="lui-text">
                <div> Creating games &amp; describes the design, development and release of a game. Developing unique mobile android and ios games. </div>
              </div>
              <a href="#pricing-section" class="lnk"> See Pricing </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Advertising </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Google Ads </span>
              </h5>
              <div class="lui-text">
                <div> Advertising services include: Google search result pages, gmails, YouTube and other websites participated in Google Ads program. </div>
              </div>
              <a href="#pricing-section" class="lnk"> See Pricing </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-item">
              <div class="lui-subtitle">
                <span> Music Writing </span>
              </div>
              <div class="icon"></div>
              <h5 class="lui-title">
                <span> Sound Track </span>
              </h5>
              <div class="lui-text">
                <div>
                  <p>Music copying, writing, creating, transcription and composition services.</p>
                </div>
              </div>
              <a href="#pricing-section" class="lnk"> See Pricing </a>
              <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="lui-bgtitle">
        <span> Services </span>
      </div>

    </div>
  </div>

</section>
